/* your custom style goes here */
/* top bar */
.top-navbar .top-bar-item {
    padding: 6px 0;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff!important;
}
.top-navbar {
    background: #0E4194!important;
    border-bottom: 1px solid #e9e9e9!important;
}

@media (max-width:479px) {
    /*.position-static {*/
    /*    display: none;*/
    /*}*/

    .category-sidebar {
        display: none;
    }

    .footer-fixed {
         padding: 2px 0;
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: chocolate;
         border-top: 1px solid #E53F50;
         text-align: center;
         z-index: 999;
    }

    .footer-item-area {
        float: left;
        width: 25%
    }

    .footer-item {
        font-size: 20px;
        /*color: #0E4194;*/
        color: #FFFFFF;
    }

    .footer-item > span{
        font-size: 10px !important;
        color: red !important;
    }

    .footer-item-text {
        color: blue;
        font-size: 12px;
    }
}

@media (min-width:480px) {
    .home-banner-area {
        max-height: 470px !important;
    }

    .carousel-item {
        height:450px !important;
    }
}
